<!-- <article
  class="simpleArticle"
  [ngStyle]="{
    'box-shadow':
      size === 'big'
        ? '0 4px 6px rgba(0, 0, 0, 0.02), 0 2px 6px rgba(0, 0, 0, 0.02)'
        : none
  }"
> -->
  <div
    class="simpleArticle-header"
    [ngStyle]="{
      'background-image': 'url(' + backgroundUrl + ')',
      height: size === 'big' ? '55%' : '50%'
    }"
  ></div>
  <div class="simpleArticle-contain">
    <h4 class="simpleArticle-contain__title">{{ title }}</h4>
    <p class="simpleArticle-contain__text">
      {{ text }}
    </p>
    <div class="simpleArticle-contain-footer">
      <span class="simpleArticle-contain-footer__publish">{{
        publishDate
      }}</span>
      <span class="simpleArticle-contain-footer__more">2 min</span>
    </div>
  </div>
<!-- </article> -->
