<article
  class="simpleArticle"
  [ngStyle]="{
    'box-shadow':
      size === 'big'
        ? '0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)'
        : none
  }"
>
  <div
    class="simpleArticle-header"
    [ngStyle]="{
      'background-image': 'url(' + backgroundUrl + ')',
      height: size === 'big' ? '55%' : '50%'
    }"
  ></div>
  <div class="simpleArticle-contain">
    <h4 class="simpleArticle-contain__title">{{ title }}</h4>
    <p class="simpleArticle-contain__text">
      {{ text }}
    </p>
    <div class="simpleArticle-contain-footer">
      <span class="simpleArticle-contain-footer__publish">{{
        publishDate
      }}</span>
      <span
        ><a class="simpleArticle-contain-footer__more" href="#"
          >En savoir plus</a
        ></span
      >
    </div>
  </div>
</article>
