<header class="header">
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a class="header-nav-list-item__link" href="#">Inspiration</a>
        <mat-icon
          class="header-nav-list-item__icon"
          [ngStyle]="{ color: '#489f9f' }"
          >keyboard_arrow_down</mat-icon
        >
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-item__link" href="#">Actualités</a>
        <mat-icon
          class="header-nav-list-item__icon"
          [ngStyle]="{ color: '#489f9f' }"
          >keyboard_arrow_down</mat-icon
        >
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-item__link" href="#">Guides</a>
        <mat-icon
          class="header-nav-list-item__icon"
          [ngStyle]="{ color: '#489f9f' }"
          >keyboard_arrow_down</mat-icon
        >
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-item__link" href="event">Évènements</a>
      </li>
      <li class="header-nav-list-item">
        <hr />
        <a class="header-nav-list-item__link" href="#">Connexion</a>
      </li>
      <li class="header-nav-list-item">
        <mat-icon [ngStyle]="{ color: '#6d7a8a' }">search</mat-icon>
      </li>
    </ul>
  </nav>
</header>
