$gray: #929fb1;
$green: #329494;
$white: #ffffff;
$title: #404B5A;

a {
  text-decoration: none;
}

.inspirationArticle {
  width: 270px;
  height: 270px;
  cursor: pointer;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.02), 0 8px 32px rgba(0, 0, 0, 0.02);
  transition: 0.6s;
  &:hover {
    transform: scale(1.01);
  }
  &-header {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
  }
  &-contain {
    height: 120px;
    padding: 10px;
    background-color: $white;
    &__title {
      color: $green;
      margin: 0;
      padding: 10px 0px 0px 0px;
    }
    &__text {
      color: $title;
      line-height: 1.5;
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding: 10px 0px 25px 0px;
    }
    &-footer {
      align-items: center;
      font-size: 14px;
      font-weight: lighter;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__publish {
        color: $gray;
      }
      &-time {
        font-size: 14px;
        font-weight: lighter;
        display: flex;
        justify-content: space-between;
        &__text {
          align-items: center;
          color: $gray;
        }
        &__icon {
        font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 1024px) { 
.inspirationArticle {
  width: auto;
  margin-bottom: 50px;
}
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .inspirationArticle {
    width: 250px;
  }
}

@media (max-width: 1440px) {
  .article-similary :nth-child(2) {
    display: none;
  }
}