<section class="inspiration">
  <div class="inspiration-menu">
    <img class="inspiration-menu_burger" src="/assets/Burger_menu.png" alt="burgermenu">
  <h1>Inspiration à la une.</h1>
</div>
  <div class="inspiration-container">
    <app-simple-article
      title="Blog title"
      text="In the tumultuous business of cutting-in and attending to a whale, there
      is much running backwards and forwards among the crew. Now hands are
      wanted here, and then again hands are wanted there. There is no staying in
      any one…"
      publishDate="Publié le 29/04/2020"
      backgroundUrl="https://i.pinimg.com/originals/f4/13/ca/f413cac448450dc488f358402b0113ff.jpg"
      size="big"
      class="inspiration-container__item1"
      remainingTime="5 min"
    ></app-simple-article>
    <app-simple-article
      title="Blog title"
      text="In the tumultuous business of cutting-in and attending to a whale, there
      is much running backwards and forwards among the crew. Now hands are
      wanted here, and then again hands are wanted there. There is no staying in
      any one…"
      publishDate="Publié le 29/04/2020"
      backgroundUrl="https://www.lg.com/fr/images/TV/features/TV-UHD-UM70-4K-Resolution-Desktop.jpg"
      size="big"
      class="inspiration-container__item3"
      remainingTime="4 min"
    ></app-simple-article>
    <app-simple-article
      title="Blog title"
      text="In the tumultuous business of cutting-in and attending to a whale, there
      is much running backwards and forwards among the crew. Now hands are
      wanted here, and then again hands are wanted there. There is no staying in
      any one…"
      publishDate="Publié le 29/04/2020"
      backgroundUrl="https://i.pinimg.com/originals/0f/16/06/0f16063f9b6f26ea865616d3d0058a9d.jpg"
      size="big"
      class="inspiration-container__item4"
      remainingTime="3 min"
    ></app-simple-article>
  </div>
</section>
