$gray: #9FABBA;
$green: #329494;
$black: #404B5A;

.article {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
      padding: 30px;
      color: $black;
      text-align: center;
    }
    &__arrow {
      font-size: 30px;
      vertical-align: middle;
    }
  }
  &__image {
    width: 70%;
    height: 300px;
    margin: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &-contain {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    &__title {
      font-weight: 400;
      color: $black;
      margin-top: 50px;
      font-size: 16px;
      margin-bottom: 30px;
    }
    &__hr {
      opacity: 0.2;
    }
    &__subTitle {
      color: $green;
      font-weight: bold;
      margin-top: 30px;
    }
    &__text {
      color: $gray;
      margin-top: 20px;
      line-height: 1.5;
    }
  }
  &-similary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    &__title {
      text-align: center;
      color: $black;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 80px;
    }
    &__hr {
      opacity: 0.2;
      width: 60%;
    }
  }
}

@media (max-width: 768px) {
.article {
  &-contain {
    width: 100%;
  }
  &__image {
    border-radius: 5px;
    width: 100%;
    height: 250px;
  }
  &-similary {
  display: inline-block;
  width: 100%;  
  }
}
}

@media (max-width: 950px) {
  .article-similary :nth-child(3) {
    display: none;
  }
}

@media (max-width: 1440px) {
  .article-similary :nth-child(2) {
    display: none;
  }
}
