<section class="article">
  <div class="article-header">
    <a routerLink="/"
      ><mat-icon [ngStyle]="{ color: '#489f9f' }"
        >keyboard_arrow_left</mat-icon
      ></a
    >
    <h1 class="article-header__title">
      Développeur back-end : la technique derrière l’interface
    </h1>
  </div>
  <div
    [ngStyle]="{
      'background-image':
        'url(https://i.pinimg.com/originals/33/1b/a8/331ba8baf299fb5cff36e6883643b3dc.jpg)'
    }"
    class="article__image"
  ></div>
  <div class="article-contain">
    <h3 class="article-contain__title">
      En informatique, par opposition au front-end qui désigne l’interface avec
      laquelle les utilisateurs d’un logiciel ou d’un site Internet vont
      interagir, et qui apparaît sur leur écran.
    </h3>
    <hr />
    <h3 class="article-contain__subTitle">Le front-end</h3>
    <p class="article-contain__text">
      En tant que grand adepte des mathématiques, j’ai commencé à coder sur un
      vieil ordinateur lorsque j’étais au collège. J’ai toujours aimé résoudre
      des problèmes et relever des défis de programmation. Après mon bac, j’ai
      donc fait le choix d’intégrer une école d’ingénieur avec une
      spécialisation en informatique pour l’aide à la décision (conception
      d’outils informatiques pour aider les décideurs En tant que grand adepte
      des mathématiques, j’ai commencé à coder sur un vieil ordinateur lorsque
      j’étais au collège. J’ai toujours aimé résoudre des problèmes et relever
      des défis de programmation. Après mon bac, j’ai donc fait le choix
      d’intégrer une école d’ingénieur avec une spécialisation en informatique
      pour l’aide à la décision (conception d’outils informatiques pour aider
      les décideurs
    </p>
    <h3 class="article-contain__subTitle">Le back-end</h3>
    <p class="article-contain__text">
      En tant que grand adepte des mathématiques, j’ai commencé à coder sur un
      vieil ordinateur lorsque j’étais au collège. J’ai toujours aimé résoudre
      des problèmes et relever des défis de programmation. Après mon bac, j’ai
      donc fait le choix d’intégrer une école d’ingénieur avec une
      spécialisation en informatique pour l’aide à la décision (conception
      d’outils informatiques pour aider les décideurs En tant que grand adepte
      des mathématiques, j’ai commencé à coder sur un vieil ordinateur lorsque
      j’étais au collège. J’ai toujours aimé résoudre des problèmes et relever
      des défis de programmation. Après mon bac, j’ai donc fait le choix
      d’intégrer une école d’ingénieur avec une spécialisation en informatique
      pour l’aide à la décision (conception d’outils informatiques pour aider
      les décideurs
    </p>
  </div>
  <h3 class="article-similary__title">Articles similaire</h3>
  <hr class="article-similary__hr" />
  <div class="article-similary">
    <app-inspiration-article
      title="Inspiration"
      text="Développeur back-end, la technique derrière l'interface"
      publishDate="16 mars 2020"
      backgroundUrl="https://www.lg.com/uk/images/TV/features/TV-SIGNATURE-OLED-Z9-11-1-8K-HDR-Dolby-Vision-Desktop.jpg"
    ></app-inspiration-article>
    <app-inspiration-article
      title="Inspiration"
      text="Développeur back-end, la technique derrière l'interface"
      publishDate="16 mars 2020"
      backgroundUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRl6t4N7S4P79TClafxCUn-qroiKE-EaIU-ng&usqp=CAU"
      remainingTime="4 min"
    ></app-inspiration-article>
    <app-inspiration-article
      title="Inspiration"
      text="Développeur back-end, la technique derrière l'interface"
      publishDate="16 mars 2020"
      backgroundUrl="https://images.unsplash.com/photo-1544614342-c48ab91d79fc?ixlib=rb-1.2.1&w=1000&q=80"
      remainingTime="4 min"
    ></app-inspiration-article>
    <app-inspiration-article
      title="Inspiration"
      text="Développeur back-end, la technique derrière l'interface"
      publishDate="16 mars 2020"
      backgroundUrl="https://images.unsplash.com/photo-1544614342-c48ab91d79fc?ixlib=rb-1.2.1&w=1000&q=80"
      remainingTime="4 min"
    ></app-inspiration-article>
  </div>
</section>
