<div class="search-bar">
  <div class="search-bar-icon">
    <mat-icon [ngStyle]="{ color: '#6d7a8a' }">search</mat-icon>
  </div>
  <input
    type="text"
    class="search-bar-input"
    placeholder="Concert, Exposition"
  />
  <div class="search-bar-select">
    <label for="search-select" class="search-bar-select__label"></label>
    <div class="search-bar-select--container">
      <select id="search-select">
        <option value="1">Trier par</option>
        <option value="2">a</option>
        <option value="3">b</option>
      </select>
    </div>
  </div>
  <div class="search-bar-select">
    <label for="search-select" class="search-bar-select__label"></label>
    <div class="search-bar-select--container">
      <select id="search-select">
        <option value="1">Autour de moi</option>
        <mat-icon
        class="search-bar-select__icon"
        [ngStyle]="{ color: '#489f9f' }"
        >keyboard_arrow_down</mat-icon
      >
        <option value="2">a</option>
        <option value="3">b</option>
      </select>
    </div>
  </div>
  <div class="search-bar-select">
    <label for="search-select" class="search-bar-select__label"></label>
    <div class="search-bar-select--container">
      <select id="search-select">
        <option value="1">Catégorie</option>
        <option value="2">a</option>
        <option value="3">b</option>
      </select>
    </div>
  </div>
</div>
