<section class="inspiration-category">
  <h1 class="inspiration-category__title">
    Découvrez nos catégories inspirations
  </h1>
  <ul class="inspiration-category-list">
    <li class="inspiration-category-list__item">Bonnes adresses</li>
    <li class="inspiration-category-list__item">Food</li>
    <li class="inspiration-category-list__item">Mode</li>
    <li class="inspiration-category-list__item">À faire</li>
    <li class="inspiration-category-list__item">Déco</li>
    <li class="inspiration-category-list__item">Et ailleurs ?</li>
  </ul>
  <div class="inspiration-category-articles">
    <app-inspiration-article
      title="Mode"
      text="In the tumultuous business of cutting-in and attending to a whale..."
      publishDate="01 février 2020"
      backgroundUrl="https://s1.1zoom.me/big0/860/USA_Parks_Mountains_Waterfalls_Stones_Scenery_Mt_527394_1280x760.jpg"
      remainingTime="4 min"
    ></app-inspiration-article>
    <app-inspiration-article
      title="Mode"
      text="Développeur back-end, la technique derrière l'interface"
      publishDate="14 mars 2020"
      backgroundUrl="https://i.pinimg.com/originals/78/c5/a4/78c5a4159948fa4967ed02a21f77a9e9.jpg"
      remainingTime="5 min"
    ></app-inspiration-article>
    <app-inspiration-article
      title="Mode"
      text="In the tumultuous business of cutting-in and attending to a whale..."
      publishDate="06 janvier 2020"
      backgroundUrl="https://i.pinimg.com/originals/33/1b/a8/331ba8baf299fb5cff36e6883643b3dc.jpg"
      remainingTime="2 min"
    ></app-inspiration-article>
    <app-inspiration-article
      title="Mode"
      text="Développeur back-end, la technique derrière l'interface"
      publishDate="16 mars 2020"
      backgroundUrl="https://i.pinimg.com/originals/76/67/fc/7667fce3751a415ad38de39b60510787.jpg"
      remainingTime="4 min"
    ></app-inspiration-article>
  </div>
</section>
