<div class="event">
  <app-search-bar></app-search-bar>
  <h1 class="event-title">82 évènements à découvrir TEST</h1>
  <div class="event-articles">
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
          à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      ></app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://cdn.florajet.com/design/blog/signification-de-la-fleur-de-lotus.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
  </div>
</div>
