<div class="event">
  <app-search-bar></app-search-bar>
  <h1 class="event-title">17 évènements à découvrir</h1>
  <div class="event-articles">
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
          à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://www.lg.com/fr/images/TV/features/TV-UHD-UM70-4K-Resolution-Desktop.jpg"
        remainingTime="Demain"
      ></app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://i.pinimg.com/originals/62/55/eb/6255eb8861cd71dd56600f84f9840841.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://www.optoma.fr/images/ProductApplicationFeatures/4kuhd/banner.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://images2.alphacoders.com/709/709048.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://i.pinimg.com/originals/a4/8a/b4/a48ab416449169be6552fe7ca54385a2.png"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://i.pinimg.com/originals/a4/8a/b4/a48ab416449169be6552fe7ca54385a2.png"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://i.pinimg.com/originals/f4/13/ca/f413cac448450dc488f358402b0113ff.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
    <div class="event-articles-item">
      <app-event-article
        title="CONCERT"
        subTitle="LES MILLS LIVE PARIS"
        text="En tant que grand adepte des mathématiques, j’ai commencé
              à coder sur un vieil ordinateur lorsque j’étais au collège."
        place="Paris, France"
        backgroundUrl="https://i.pinimg.com/originals/f4/13/ca/f413cac448450dc488f358402b0113ff.jpg"
        remainingTime="Demain"
      >
      </app-event-article>
    </div>
  </div>
</div>
