$gray: #929FB1;
$title: #404B5A;
$green: #489f9f;
$white: #ffffff;
$lightGray: #f0f0f0;
$border : #E1E7EC;

a {
  text-decoration: none;
}

.eventArticle {
  height: 350px;
  margin: 60px 30px 60px 30px;
  cursor: pointer;
  transition: 0.7s !important;
  &:hover{
    transform: scale(1.01);
  }
  &-header {
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 120px;
  }
  &-contain {
    height: 250px;
    padding: 10px;
    background-color: $white;
    margin-top: -20px;
    border: 0.5px solid $lightGray;
    &__title {
      color: $green;
      font-weight: bold;
      margin: 0;
      margin-top: 10px;
    }
    &__subTitle {
      color: $title;
      font-weight: 500;
      margin: 0;
      margin-top: 10px;
    }
    &__hr {
      background-color: $lightGray;
      color: $lightGray;
      height: 1px;
      margin-top: 15px;
      border-width: 0;
      width: 90%;
    }
    &__text {
      padding: 10px 0px 10px 0px;
      color: $gray;
      font-weight: lighter;
      line-height: 1.5;
      font-size: 12px;
    }
    &-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-place {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text {
          color: $gray;
          padding-left: 10px;
          font-size: 13px;
        }
      }
    }
  }
  &-buttons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    &-item {
      color: $white;
      background-color: $green;
      font-weight: 500;
      width: 70px;
      font-size: 12px;
      padding: 5px 10px 5px 10px;
      border: 1px solid $green;
      cursor: pointer;
    }
  }
}
